.Editor {
  display: flex;
  gap: 10px;
  width: 100%;
}
.Editor > input {
  border: 1px solid var(--gray220);
  padding: 15px;
  border-radius: 5px;
  flex: 1;
}

.Editor > input:focus {
  outline: 1px solid var(--main);
}

.Editor > button {
  cursor: pointer;
  width: 80px;
  border-radius: 5px;
  background-color: var(--main);
  color: var(--white);
}
